img{
    height: 40vh;
    border: solid 10px #0d1a25;
}

.mat-card{
    // background-color: #0d1a25;
    background-color: #122535;
    color: white;
}


.mat-dialog-container{
    padding: 2px !important;
    background-color: #0d1a25 ;
}

button{
    float: right;
}

button:hover{
    color: #F90606;
}