.mat-card{
    // background-color: #0d1a25;
    background-color: #122535;
    color: white;
}

.mat-dialog-container{
    padding: 2px !important;
    background-color: #0d1a25 !important;
}

button{
    float: right;  
}

button:hover{
    color: #F90606;
}