<mat-card class="trailer-dialog">
    <mat-card-title class="trailer-dialog-title">{{ data.title }}</mat-card-title>
    <br />
   
    <mat-dialog-content class="trailer-dialog-content">
        
        <iframe width="560" height="315" [src]='safeUrl' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen crossorigin="anonymous"></iframe>
    </mat-dialog-content>
    <mat-card-actions class="synopsis-actions">
        <button class="synopsis-close-button" mat-stroked-button aria-label="Close the synopsis button" mat-dialog-close color="primary">
            X
        </button>
    </mat-card-actions>
</mat-card>

