$backgroundColor: #f8f9fa;
$cardColor:  #122535;;
$textColor: #ffffff;
$boxShadowColor: #e9ecef;

.nav-bar {
    color: $textColor;
    border-bottom: $boxShadowColor;
    background-color: $cardColor;
}

.logout-button {
    float: right;
    
}


img{
    position: sticky;
    height: 5vh;
    float: left;
    
}