<app-navbar></app-navbar>
<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
        </mat-card-header>
        <img class="movieImage" src={{movie.imageUrl}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
            mat-button (click)="openGenreDialog(movie.genre)"
                color="primary"
            >
                Genre
            </button>
            <button
                mat-button
                (click)="openDirectorDialog(movie.director.name, movie.director.bio, movie.director.portrait)"
                color="primary"
            >
                Director
            </button>
            <button
            mat-button
            
            color="primary"
        >
            Actors
        </button>
            <button
                mat-button
                (click)="openSynopsisDialog(movie.title, movie.description)"
                color="primary"
            >
                Synopsis
            </button>

            
            <button
            mat-button
            (click)="openTrailerDialog(movie.title, movie.trailerUrl)"
            color="primary"
        >
            Trailer
        </button>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>