
<mat-card class="actor-dialog">
    <!-- <div *ngFor="let actor of data.actorsArray"> -->
        <p>
            <mat-card-title class="actor-dialog-title">
                {{ data.name }}
            </mat-card-title>
            <mat-dialog-content class="actor-dialog-content">
                <img src={{data.portrait}} />
               <b>Bio:</b> {{ data.bio }}
            </mat-dialog-content>
        </p>
    <!-- </div> -->
    <mat-card-actions class="actor-actions">
        <button class="actor-close-button" mat-stroked-button aria-label="Close the genre details button" mat-dialog-close color="primary">
      X
    </button>
    </mat-card-actions>
</mat-card>